<main>
  <div class="container d-flex flex-column">
    <h2 style="text-align:center; margin-top: 20px;">Les voitures disponibles!</h2>
    <p>Filter</p>
    <form id="filters">
      <p><label for="send">prix</label><input type="range" min="1" max="100000" name="prix" id="send" oninput="result.value=send.value"> <input type="submit"><input type="text" id="result"></p>
      <p><input type="checkbox" name="filtre" id="" value=""> <label for="">Année</label></p>
      <p><input type="checkbox" name="filtre" id="" value=""> <label for="">kilométrage</label></p>

    </form>
          
    <section class="container d-flex flex-row" >
      {% if voiture.EstVendu %}
      <div>Aucune voiture pour le moment.</div>
      {% else %}
      {% for voiture in voitures %}
      <div class="item d-flex flex-column"
      style="justify-content: center; box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2); border-radius: 20px; margin: 20px; padding: 10px; text-align: center; max-width:15rem">
        <img src="{{ asset('assets/uploads/photos/' ~ voiture.ImagePrincipale) }}" width="200rem" style="border-radius: 20px; margin:auto;" alt="{{voiture.Titre}}">
        <div class="card-body">
          <h class="title">{{voiture.Titre}}</h5>
          <p style="font-size: 20px;">{{voiture.Prix}} €<br>
          {{voiture.Km}} km</p>
          <a href="{{path('voiture', {'id':voiture.id})}}" class="btn btn-primary">Détails</a>
        </div>
      </div>
          {% endfor %}
          {% endif %}

        </section>

    
  </div>
</main>

